.pizzaCard {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .moveTop {
    position: absolute;
    top: 8px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    p.MuiTypography-root,
    span.MuiRating-root {
      color: white;
      border-radius: 4px;
      padding: 4px 8px;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .cardContent {
    height: calc(100% - 300px);
  }
}
